SpliceComponent input-dim=14 left-context=4 right-context=4
FixedAffineComponent matrix=exp/tri4_nnet/lda.mat
AffineComponentPreconditioned input-dim=126 output-dim=300 alpha=4.0 max-change=10.0 learning-rate=0.015 param-stddev=0.0577350269189626 bias-stddev=0.5
TanhComponent dim=300
AffineComponentPreconditioned input-dim=300 output-dim=16 alpha=4.0 max-change=10.0 learning-rate=0.015 param-stddev=0 bias-stddev=0
SoftmaxComponent dim=16
